<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarvestHUB</title>
    <link href="/static/img/logo.png" rel="icon">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
  
    <form id="razorpay-form" action="{% url 'payment_success' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="razorpay_order_id" value="{{ razorpay_order_id }}">
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="currency" value="{{ currency }}">
        <input type="hidden" name="razorpay_merchant_key" value="{{ razorpay_merchant_key }}">
    </form>
    
    <script>
        var options = {
            "key": "{{ razorpay_merchant_key }}",
            "amount": "{{ amount }}",
            "currency": "{{ currency }}",
            "name": "HarvestHUB",
            "order_id": "{{ razorpay_order_id }}",
            "handler": function (response){
                document.getElementById('razorpay-form').submit();
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        
        var rzp1 = new Razorpay(options);
        rzp1.open();
    </script>
</body>
</html>
